/* style.css */

body {
    font-family: 'Georgia', serif, Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #FCFBE6; 
}

header {
    background-color: #87AF1A; 
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #FF9BD0; 
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white; 
    text-decoration: none;
    font-weight: bold; 
}

nav ul li a:hover {
    color: #73CCFA; 
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #73CCFA; 
    border-radius: 8px;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: white; 
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #FCFBE6; 
}

ul {
    color: #333; 
}

a {
    color: #87AF1A; 
}

a:hover {
    color: #FF9BD0; 
}


nav ul li a:active {
    color: #FCFBE6; 
}
