/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FCFBE6; /* 背景色 */
}

header {
    background-color: #87AF1A; /* 头部背景色 */
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #FF9BD0; /* 导航栏背景色 */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white; /* 默认链接颜色 */
    text-decoration: none;
    font-weight: bold; /* 加粗链接 */
}

nav ul li a:hover {
    color: #73CCFA; /* 悬停时链接变为蓝色 */
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #73CCFA; /* 内容区背景色 */
    border-radius: 8px;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: white; /* 修改为白色 */
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #FCFBE6; /* 修改为奶白色 */
}

ul {
    color: #333; /* 列表项文字颜色 */
}

a {
    color: #87AF1A; /* 链接颜色 */
}

a:hover {
    color: #FF9BD0; /* 悬停时链接变为粉色 */
}

/* 为点击时的链接设置颜色 */
nav ul li a:active {
    color: #FCFBE6; /* 点击时变为奶白色 */
}
